repos:
  - repo: https://github.com/astral-sh/uv-pre-commit
    # uv version.
    rev: 0.7.21
    hooks:
      # Update the uv lockfile
      - id: uv-lock
      # Sync requirements.txt with uv.lock
      - id: uv-export
        args: ["--no-hashes","--output-file=requirements.txt"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.12.12
    hooks:
      # Run the linter.
      - id: ruff-check
      # Run the formatter.
      - id: ruff-format